
<div class="container mt-5">
    <div class="row">

        <div class="col-md-2 d-flex align-items-center">
            <a href="/student/unverified" class="btn btn-danger"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="col-md-5">
            <% students.map((student, index) => { %>

                <div class="head-line bg-success text-center py-2">
                    <h3>Verify Student by phone</h3>
                </div>
                <div class="bg-white shadow py-5 px-4">
                    <div class="potu rounded text-center">
                        <img src="/images/students/<%= student.photo %> " alt="">
                    </div>
                
                <div class="d-flex justify-content-start">
                    <h5 class="">Hi Dear, &nbsp</h5>
                    <h4 class="mb-2"><%= student.name %></h4>
                </div>

                <form action="/student/phoneverifyed/<%= student.id %>" method="POST">
                    <p>A 6 digit OTP code has been sent to your this <%= student.cell %> phone number</p>
                    <label class="for-green" for="">Enter the given OTP for verify </label>
                    <label class="" for="">(If you didn't receve any message it means the balance of bulksmsbd has been over. So, check it manually from json db) </label>
                    <div class="d-flex justify-content-between"> 
                        <input type="number" class="form-control w-75 me-3" name="user_otp" >
                        <button class="btn btn-sm btn-success" type="submit" href="">Verify Now</button>
                    </div>
                </form>

                </div>

            <% }) %>

        </div>

    </div>

</div>
