<div class="container mt-5 student-table">
    <div class="row justify-content-center">
        <div class="col-lg-10">
             
                <%= verifyed %> 

        </div>
    </div>
</div>